body {

	font-family: Tahoma, sans-serif;
	background: black;
}

.head {

	text-decoration: underline;
	text-align: center;
	color: white;

}

.container {

	display: flex; /* Allows Use Of Flex */
	flex-wrap: wrap; /* Allows FlexBoxes To Go To Different Lines (stack) */
	justify-content: center; /* Main-Axis */
	align-items: center; /* Cross-Axis */
	align-content: center; /* Gaps Between Boxes / Moves Boxes */
	margin: 30px;
	gap: 5px;


}

.boxbody {

	text-align: center;
}

.container-1 {

	height: 150px;
	width: 300px;
	color: white;
	border: 3px solid white;
	background: black;
	text-align: center;


}

.container-2 {

	height: 150px;
	width: 300px;
	color: white;
	border: 3px solid white;
	background: black;
	text-align: center;

}

.container-3 {

	height: 150px;
	width: 300px;
	color: white;
	border: 3px solid white;
	background: black;
	text-align: center;

}

.container-4 {

	height: 150px;
	width: 300px;
	color: white;
	border: 3px solid white;
	background: black;
	text-align: center;


}

.container-5 {

	height: 150px;
	width: 300px;
	color: white;
	border: 3px solid white;
	background: black;
	text-align: center;

}

.container-6 {

	height: 150px;
	width: 300px;
	color: white;
	border: 3px solid white;
	background: black;
	text-align: center;

}

.container-7 {

	height: 150px;
	width: 300px;
	color: white;
	border: 3px solid white;
	background: black;
	text-align: center;

}
